Repository noahgift/myrepo: changes, and which Codecov flags are due for each by the changed paths.
All: myrepolib, tests

add cov-report
  Makefile
Due: none

Update config.yml
  .circleci/config.yml
Due: none

try this yaml
  codecov.yml
Due: none

Update repomod.py
  myrepolib/repomod.py
Due: myrepolib

writing bad code
  myrepolib/repomod.py
Due: myrepolib

I am being very sloppy
  myrepolib/repomod.py
Due: myrepolib

fixing my mistake
  myrepolib/repomod.py
Due: myrepolib

new commit
  iwashere.txt
Due: none

deleting old file
  iwashere.txt
Due: none

intentionally breaking library
  myrepolib/repomod.py
Due: myrepolib

Update README.md
  README.md
Due: none

Update test_myrepo.py
  tests/test_myrepo.py
Due: tests

Create setup-efs.sh
  setup-efs.sh
Due: none

Update setup-efs.sh
  setup-efs.sh
Due: none

Update and rename setup-efs.sh to setup-efs-python.sh
  setup-efs-python.sh
Due: none

Update setup-efs-python.sh
  setup-efs-python.sh
Due: none

Update Makefile
  Makefile
Due: none

Update web.py
  web.py
Due: none

adding
  cli.py
Due: none

fixing code
  cli.py
Due: none

Update cli.py
  cli.py
Due: none

Create Dockerfile
  Dockerfile
Due: none

Update Dockerfile
  Dockerfile
Due: none

bizzency
  bizzency
Due: none

Path conditions:
  myrepolib: any of: myrepolib/
  tests: any of: tests/
